@font-face {
    font-family: 'Uiyeun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
	.imgSound{
	width:100%;
	height: 100%;
	background-color:rgba(0,0,0,0.6);
	position: relative;
	}
	.imgSoundWrap{
	height:100%;
		width:100%;
	}
	
	.imgSoundtle{
		max-width: 800px;
		height:100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content:  center;
		position: relative;
		z-index: 999;
	}
	.canNfont{
		
		position: relative;
		margin: 0 auto;
	}
	#canSeason{
		border-radius:20px; 
		
	}
	#canSeason2{
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		
	}
	.seasonfont{
		font-family:Uiyeun;
		position:absolute;
		top:0;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		font-size: 170px;
		color:white;
		display: none;
		letter-spacing: 0.1em;
	}
	.colorchangeBtn{
		position: absolute;
		color:white;
		left:50%;
		top:400px;
		transform:translateX(-50%);
		font-size: 18px;
		letter-spacing: 0.05em;
	}

	#sound{
		width: 450px;
	}
	.Btn{
		font-family:Uiyeun;
		font-size:30px;
		width:45px;
		height: 45px;
		line-height:45px;
		text-align:center;
		background-color: white;
		display:inline-block; 
		cursor: default;
	}
	.colorChange{
		position: absolute;
		top:15px;
		right:15px;
		display: none;
	}
	.changeLogo{	
		color: white;
		font-family:Uiyeun;
		font-size: 29px;
	}
	.changeFont{
		margin-top: 10px;
	}
	.Num{
		font-family:Uiyeun;
		color:white;
		display: inline-block;
		width:45px;
		text-align: center;
		font-size: 30px;
	}
